/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.2em;
}

a {
    color: #333;
    text-decoration: none;
}
  
p {
    margin: 10px 0;
}

/* Utilities */
.container {
    margin: auto;
    max-width: 1200px;
}

.wrapper {
    padding-top: 50px;
}

ul {
    list-style: none;
    float: left;
}

ul li {
    float: left;
}

/* .clr-left {
    clear: right;
} */

/* Header */
.header {
    padding: 20px 0;
    background: #ccc;
    border-top: 10px solid #DAE3E7;
    overflow: auto;
}

.profile-photo {
    margin: 0 30px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    float: left;
}

header .profile-content {
    float: left;
}

header .profile-content .name {
    margin: 30px 0px 5px 0px;
    font-size: 30px;
}

header .profile-content .desc {
    margin: 0px 0px 15px 0px;
    font-size: 24px;
}

header .profile-content .social-list .list {
    display: inline-block;
}

header .profile-content .social-list a {
    background: #b0b7bf;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

header .profile-content .social-list .icon {
    font-size: 20px;
    margin-top: 8px;
}

/* Section */
.box{
    background: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;

}

.right {
    float: right;
    max-width: 31%;
}

.left {
    float: left;
    max-width: 67%;
}

